<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.teamwork">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TransPondActivity"></activity>
        <activity android:name=".CollectActivity"></activity>
        <activity android:name=".CommentActivity"></activity>
        <activity android:name=".ContentActivity"></activity>
        <activity android:name=".UserContentActivity"></activity>

        <activity android:name=".FindMenuList_Activity">
        </activity >
        <activity android:name=".PersonSetup.SetUpActivity">
        </activity>
        <activity android:name=".PersonSetup.IdSetupActivity">
        </activity>
        <activity android:name=".PersonSetup.SearchActivity">
        </activity>
        <activity android:name=".TitleListActivity"></activity>

 <activity android:name=".Board.BoardNewFinishi">
 </activity>
<activity android:name=".PersonSetup.PersonalSetActivity"/>
<activity android:name=".Board.EditBoardActivity"/>
<activity android:name=".Board.NewDrawboardActivity"/>
 <activity android:name=".Login_Regist.LoginAcitivity">

 </activity>

<activity android:name=".Login_Regist.RegistActivity"/>
<activity android:name=".Login_Regist.CompleteRegistActivity"/>
        <activity android:name=".InterestActivity"></activity>

    </application>


</manifest>